header{
    height: 100vh;
    background-color: $mainColor;
    div{
        background-color: $secColor;
        color:white;
        p{
            color : orange;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            span{
                color : yellow;
            }
        }
    }
}

